html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

#deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

#deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

#deck .card.open {
    transform: rotateY(180);
    background: #02b3e4;
    cursor: default;
}


#deck .card.show {
    font-size: 33px;
    animation:rotate 0.4s;
}

#deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}
#deck .card:hover{
    box-shadow:0 0 10px white;
}
/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel #stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel #stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}


/*
 *comment
 */

 #comment{
    display: none;
    position: fixed;
    opacity:0.8;
    top:40%;
    left:25%;
    width:50%;
    box-shadow: 0 0 20px black;
    font-size:28px;
    background:#d9def0;
    padding:2%;
    color:black;
    text-align:center;
} 

p{
    display: inline-block;
    padding:0;
    margin:0;
}


/* Animations*/
@keyframes rotate{
    0% { -webkit-transform: rotate(0deg);
            height:150px;
            width:150px;
        }
    100% { -webkit-transform: rotate(360deg);
            height:125px;
            width:125px;
        }
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

#deck .card.wrong {
    animation:shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    background:red;
}  
/* This #deck .card.wrong also tells us the order in which we have to give preference
    first wrong >card >deck
/*A Cubic Bezier curve is defined by four points P0, P1, P2, and P3. P0 and P3 are the start and the end of the curve and, in CSS these points are fixed as the coordinates are ratios. P0 is (0, 0) and represents the initial time and the initial state, P3 is (1, 1) and represents the final time and the final state.
The cubic-bezier() __function__ can be used with the animation-timing-function property and the transition-timing-function property. 
*/